/*
 * SPDX-FileCopyrightText: 2020 (C) Bjorn Erik Pedersen <bjorn.erik.pedersen@gmail.com>
 * SPDX-FileCopyrightText: 2020 (C) Carl Schwan <carl@carlschwan.eu>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

//
// Right side toc
//
.td-toc {
    border-left: 1px solid $border-color;

    @supports (position: sticky) {
        position: sticky;
        top: 0;
        height: 100vh;
        padding-top: 4rem;
        overflow-y: auto;
    }

    order: 2;
    padding-top: 0.75rem;
    padding-bottom: 1.5rem;
    vertical-align: top;

    a {
        display: block;
        font-weight: 400;
        padding-bottom: .25rem;
    }

    li {
        list-style: none;
        display: block;
    }

    li li {
        margin-left: 0.5rem;
    }

    .td-page-meta {
        a {
            font-weight: $font-weight-medium;
        }
    }

    #TableOfContents {
        /* same as .row */
        margin-left: -15px;
        margin-right: -15px;
    }

    #TableOfContents ul li > a {
        padding-left: 15px;
        padding-right: 15px;
        border-left: 4px solid transparent;
    }
    #TableOfContents > ul > li > ul > li {
        margin-left: 0;
    }
    #TableOfContents > ul > li > ul > li > a {
        padding-left: calc(15px + .5rem);
        padding-right: calc(15px + .5rem);
    }

    #TableOfContents > ul > li.active > a {
        border-left-color: #54a3d8;
        background: #54a3d820;
    }
    #TableOfContents > ul > li > ul > li.active > a {
        border-left-color: #54a3d8c0;
        background: #54a3d810;
    }

    .td-page-meta + #TableOfContents {
        border-top: 1px solid #bcbebf; /* same as .td-toc */
        padding-top: .25rem;
    }


    #TableOfContents {
      // Hugo's ToC is a mouthful, this can be used to style the top level h2 entries.
      > ul > li > ul > li > a {}


      a:hover {
        color: $blue;
        text-decoration: none;
      }
    }

    ul {
        padding-left: 0;
    }
}
